# The Battle of the Neighborhoods
Week4-01

Applied Data Science Capstone by IBM/Coursera

## Table of contents
* [Introduction](#introduction)
* [Data](#data)
* [Methodology](#methodology)
* [Analysis](#analysis)
* [Results and Discussion](#results)
* [Conclusion](#conclusion)

## 1. Introduction <a name="introduction"></a>

### 1.1. Overview

Düsseldorf is the capital and second-largest city of the most populous German federal state of North Rhine-Westphalia after Cologne, as well as the seventh-largest city in Germany with a population of 617,280. Mercer's 2012 Quality of Living survey ranked Düsseldorf the sixth most livable city in the world. Düsseldorf is an international business and financial centre, renowned for its fashion and trade fairs and is headquarters to one Fortune Global 500 and two DAX companies. Messe Düsseldorf organises nearly one fifth of premier trade shows.

The Rhine Metropolis is one of the most diverse areas in terms of culinary diversity. Düsseldorf, with the third largest Japanese community in Europe, not only provides a wide range of culinary cuisine but also has a solid foundation of Authentic Asian food in the city. Düsseldorf's exceptional culinary cuisine has been recognized and visited by the Worldwide leading travel guide of Lonely Planet. Along with a broad range of diverse cultural cuisine, Düsseldorf is also home to various Michelin starred restaurants that are world renowned

### 1.2. Opportunities and challenges


Our stakeholder are really into opening a restaurant  in Duesseldorf because of the current and potential opportunities:
- this is one of the biggest and the most liveable cities in Germany. 
- it is also the central of cuisine, and the duesseldorf's locals and suburban, as well as the visitors are keen on the diverse cultural cuisine here. 
- the locals' income is also high. it is a favourable condition for establishing a business relating to service area as restaurant. 

Of course, choosing a location for the restaurant is one of the stressful and controversial tasks, since there are a lot of challenges realting to 
- the number of potential competitors
-  the number of of alternatives
- the population 
- the parking lot numbers

### 1.3. Objectives

This project conduct an analysis in order to find out the optimal place to build up a cuisine restaurant based on the mentioned attributes.  In fact there are many determinants but because of the limitation of time and the  course requirements, thus the project just focuses on the main ones.

## 2. Data <a name="data"></a>

### 2.1 Data description

Based on criteria listed above the following data will be utilized in our analysis:
- the number of restaurants within the certain radius of each borough (Foresquare API)
- the number of parks within the certain radius of each borough (Foresquare API)
- the population density in each borough. 


- the population and the population density of the borough. https://www.citypopulation.de/de/germany/dusseldorf/admin/
Source: citypopulation.de 
- the square of Duesseldorf's Districts
https://www.duesseldorf.de/bv/?L=0
Source: Official Website of Dusseldorf city
- the coordinates of the borough. 
https://latitude.to/articles-by-country/de/germany/210179/dusseldorf
Source: latitude to

### 2.2 Data Preparation

Import the necessary Libraries

In [6]:
import numpy as np # library to handle data in a vectorized manner
import pandas as pd # library for data analsysis
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)

import json # library to handle JSON files

#!conda install -c conda-forge geopy --yes # uncomment this line if you haven't completed the Foursquare API lab
from geopy.geocoders import Nominatim # convert an address into latitude and longitude values

import requests # library to handle requests
from pandas.io.json import json_normalize # tranform JSON file into a pandas dataframe

# Matplotlib and associated plotting modules
import matplotlib.cm as cm
import matplotlib.colors as colors

# import k-means from clustering stage
from sklearn.cluster import KMeans

#!conda install -c conda-forge folium=0.5.0 --yes # uncomment this line if you haven't completed the Foursquare API lab
import folium # map rendering library

print('Libraries imported.')

Libraries imported.

Load the coordinates of the boroughs into a dataframe.

In [8]:
df = pd.read_csv('Duesseldorf_Population.csv')
df = df[['Borough', 'Population', ' Population Density ',
       'Latitude', 'Longitude']]
print(df.shape)
df.head(5)

(39, 5)

     Borough  Population   Population Density    Latitude  Longitude
0   Altstadt        2404           7603.008850  51.223999   6.770830
1  Angermund        6626            678.516775  51.324665   6.774664
2       Bilk       40651           4838.669355  51.201499   6.774497
3  Carlstadt        2285           7603.008850  51.220332   6.769330
4  Derendorf       20610           7603.008850  51.239666   6.788830

In [10]:
df.describe()

         Population   Population Density    Latitude  Longitude
count     39.000000             39.000000  39.000000  39.000000
mean   13138.153846           3860.467043  51.220563   6.804561
std    10430.690926           2226.325238   0.042230   0.051867
min     1612.000000            678.516775  51.125999   6.709497
25%     5049.500000           2560.856519  51.200749   6.770497
50%    10598.000000           3415.128205  51.221332   6.788830
75%    19626.500000           4838.669355  51.247166   6.848413
max    40651.000000           8899.580420  51.324665   6.906496